PORT=5000
MONGO_URI=mongodb+srv://darshan:mongo%4020005%3F@ridetune.8klxtrv.mongodb.net/tunetrip?retryWrites=true&w=majority&appName=RideTune
JWT_SECRET=replace_with_secure_secret
CLIENT_URL=http://localhost:5173
